/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  min-height: 100vh;
}

.app-container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #002366;
  min-height: 100vh;
}

.content-container {
  flex-grow: 1; /* Ocupar el espacio restante */
}

.btns-container {
  display: flex;
  justify-content: space-between;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

.app-title {
  color: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 28px;
  margin-bottom: 30px;
}

.paragraph {
  width: 800px;
  margin-top: 20px;
  color: white;
}

.paragraph a {
  color: white;
}

.paragraph a:hover {
  color: yellow; /* Cambia el color al pasar el cursor sobre el enlace */
}

.current-secret {
  margin-bottom: 40px;
  width: 780px;
}

.upload-text {
  width: 450px;
  margin: 0 auto;
  text-align: center;
}

.btn-login {
  display: flex;
  justify-content: flex-end; /* Reemplaza justify-content: flex-end; */
  align-items: center;
  width: 100%;
}

.modal-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-login a {
  width: 150px;
}

.app-button {
  width: 180px;
  font-size: 18px;
}

.btn-login a:last-child {
  margin-left: 10px; /* Agrega margen a la izquierda del segundo botón */
}
