/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  height: 100vh;
  background-image: url("./assets/aldebaran-s-qtRF_RxCAo0-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 20px;
  box-sizing: border-box;
}

.app-container {
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.content-container {
  flex-grow: 1; /* Ocupar el espacio restante */
}

.btns-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
}

.app-title {
  color: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 28px;
  margin-bottom: 30px;
}

.paragraph {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 50px;
  color: white;
}

.paragraph a {
  color: white;
}

.paragraph a:hover {
  color: yellow; /* Cambia el color al pasar el cursor sobre el enlace */
}

.current-secret {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-secret p {
  max-width: 80%;
}

.current-secret p:nth-of-type(1) {
  margin-top: 16px;
}

.upload-text {
  width: 450px;
  margin: 0 auto;
  text-align: center;
}

.btn-login {
  display: flex;
  justify-content: flex-end; /* Reemplaza justify-content: flex-end; */
  align-items: center;
  width: 100%;
}

.modal-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 20px;
  width: 100%;
}

.btn-login a {
  width: 150px;
}

.app-button {
  width: 180px;
  font-size: 18px;
}

.btn-login a:last-child {
  margin-left: 10px; /* Agrega margen a la izquierda del segundo botón */
}

@media (max-width: 768px) {
  .btn-login {
    justify-content: space-between;
  }
  .btn-login a {
    width: calc(50% - 5px); /* Resta el espacio entre los botones */
  }

  .modal-container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .modal-container > * {
    width: 100%;
  }
}
